.arena__wrapper{
    width: 100%;
    z-index: 3;
    height: 100%;
    background-size: cover;
    background-image: url('./vano.png');
}
.arena__fighter{
    position: absolute;
    bottom: 60px;
    width: 300px;
    height: 300px;
}
.arena__fighter.fighter1{
    left: 40px;
}
.arena__fighter.fighter2{
     right: 40px;
 }
.fighter2 img{
    transform:scale(-1, 1);
}
.arena__fighter img{
    height: 300px;
}
.indicator{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: green;
    border-radius: 16px;
}
.indicatorLeft{
    width: 600px;
    position: absolute;
    top: 50px;
    left: 20px;
    border:2px solid black;
    border-radius: 16px;
}
.indicatorRight{
    width: 600px;
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 16px;
    border:2px solid black;
}
.punching{
    position: relative;
    left: 1000px;
}
.punching1{
    position: relative;
    left: unset;
    right: 1000px;
}